.App {
  text-align: left; /* 기본 정렬을 왼쪽으로 설정 */
  padding: 20px; /* 페이지 여백 추가 */
}

.main-page {
  margin-top: 20px; /* 메인 페이지 여백 조정 */
}

.header {
  display: flex; /* Flexbox를 사용하여 로고와 제목을 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
}

.logo {
  width: 140px; /* 로고 크기 조정 */
  margin-right: 10px; /* 로고와 제목 간의 간격 조정 */
  border-radius: 50%; /* 동그란 형태로 만들기 */
  opacity: 0.7; /* 투명도 조정 (0은 완전 투명, 1은 불투명) */
}

.title {
  font-size: 2rem; /* 제목 크기 조정 */
  color: #61dafb; /* 제목 색상 조정 */
}